# Security - set a persistent secret key
# to generate run `node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"`

WEBUI_SECRET_KEY=
WEBUI_NAME=Replace me in .env (WEBUI_NAME)

# Optional: Restrict CORS in production

# CORS_ALLOW_ORIGIN=http://localhost:3060

# Optional: Point to your Ollama instance (default is http://localhost:11434)

OLLAMA_BASE_URL=http://host.docker.internal:11434

# Optional: Disable new user signup (admin-only)
ENABLE_SIGNUP=true
